$farbalink : blue;
$farbahover : red;
$farbaactive : rgb(211, 187, 187);
$farbafocus : yellow;
$farbapozadia: rgb(37, 123, 194);
$farbacustom3a : white;
$farbacustom4header : rgb(38, 113, 253);
$farbacustom4colorwhite : white;
$farbacustom4navabr : rgb(8, 8, 8);
$farbacustom4footer : rgb(199, 195, 195);
$farbacustom4imgcontainer: rgba(255, 255, 255, 0.95);
$farbacustom4droptarget: #aaaaaa;
$farbacustom700header: rgb(69, 223, 94);
    $farbacustom700headercolor : cadetblue;
    $farbacustom700navbar: rgb(206, 48, 140);
    $farbacustom700row : rgb(27, 107, 121);
    $farbacustom700sekcia_zmena: rgb(57, 39, 216);
    $farbacustom700footer : rgb(56, 189, 171);
    $farbacustom900headercolor : rgb(189, 58, 58);
    $farbacustom900navbar: cadetblue;
    $farbacustom900navbar1: rgb(86, 158, 27);
    $farbacustom900row : rgb(61, 151, 167);
    $farbacustom900sekcia_zmena: rgb(189, 58, 58);
    $farbacustom900footer : rgb(86, 158, 27);
    $farbacustom1300headercolor : rgb(65, 97, 184);
    $farbacustom1300navbar: cadetblue;
    $farbacustom1300navbar1: #1d678a;
    $farbacustom1300row : rgb(158, 225, 236);
    $farbacustom1300sekcia_zmena: rgb(221, 157, 157);
    $farbacustom1300footer : rgb(139, 140, 230);
    $farbacustom160headercolor : rgb(65, 97, 184);
    $farbacustom1600navbar: cadetblue;
    $farbacustom1600navbar1: #1d678a;
    $farbacustom1600row : rgb(158, 225, 236);
    $farbacustom1600sekcia_zmena: rgb(221, 157, 157);
    $farbacustom1600footer : rgb(139, 140, 230);